{# src/CL/TicketingBundle/Resources/views/Ticketing/form/emailPurchase.html.twig #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

  <div class="form-group">
    {{ form_label(form.email.first) }}
    {{ form_widget(form.email.first) }}
  </div>
  <div class="form-group">
    {{ form_label(form.email.second) }}
    {{ form_widget(form.email.second) }}
  </div>

  <div class="form-group">
    <button class="btn btn-info" type="submit">Validez la commande</button>
  </div>

  {{ form_rest(form) }}
{{ form_end(form) }}
